# Virtual Environment
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# Datasets and Models
*.pt
*.pth
*.onnx
*.weights
dataset/
datasets/
data/
runs/
